.user-name {
    color: #fff;
    margin: 0 1rem 0 0;
}

.avatar {
    max-width: 350px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.register-popup {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 70px;
}

.login-popup {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 70px;
}

.user-popup {
    position: fixed;
    overflow: hidden;
    width: 60%;
    top: 70px;
    right: 26%;
}

.blur {
    filter: blur(8px);
}